
manifest {
    name = 'cflerin/nf-module'
    description = 'Test for sub-repository accessibility'
    homePage = 'https://github.com/cflerin/nf-module'
    version = '0.1'
    mainScript = 'main.nf'
    defaultBranch = 'master'
    nextflowVersion = '!19.09.0-edge' // with ! prefix, stop execution if current version does not match required version.
}

params {
    module {
        test2 = "moduleDefault"
    }
}

